@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background: rgb(243, 243, 243);
}


body {
  background: rgb(243, 243, 243);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
